body {
  
    background-color: rgb(34, 6, 55);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
  }
  
  .snake {
    background-color: Green;
  }
  
  .apple {
    background-color: Red;
  }